<a href="https://colab.research.google.com/github/saikirsh/python-new/blob/module-2/Module_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Create a function which accepts two inputs from the user and compute n
Cr

In [ ]:
def nCr(n, r):
 
    return (fact(n) / (fact(r)
                * fact(n - r)))
 
def fact(n):
    res = 1
    for i in range(2, n+1):
        res = res * i
    return res
 
n = 7
r = 2
print(int(nCr(n, r)))

21

In [ ]:
def nCr(n, r):
 
    return (fact(n) / (fact(r)
                * fact(n - r)))
n=int(input(""))
r=int(input(""))
def fact(n):
    res = 1
    for i in range(2, n+1):
        res = res * i
    return res
print(int(nCr(n, r)))

7
2
21

2.Program to print a specified list after removing the 0th, 4th and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']

In [ ]:
x=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
x.pop(0)
x.pop(3)
x.pop(3)
print(x)

['Green', 'White', 'Black']

3.Program to get the difference between the two lists

In [ ]:
x=["sai","blue","vivek"]
y=["black","white","blue"]
difxandy=list(set(x)-set(y))
print(difxandy)

['sai', 'vivek']

4.Program to find the second smallest number and second largest number in a list

In [ ]:
def find_len(x):
    length = len(x)
    x.sort()
    print(x)
    print("Second Smallest element is:", x[1])
    print("Second Largest element is:", x[-2])
x=[10, 54, 1, 49, 37, 17, 8, 5, 7]
Largest = find_len(x)

[1, 5, 7, 8, 10, 17, 37, 49, 54]
Second Smallest element is: 5
Second Largest element is: 49

5.Given a list of numbers of list, write a Python program to create a list of tuples
having first element as the number and second element as the square of the
number.

In [ ]:
x = [5,7,8,9,13,17]
y = [(num, pow(num, 2)) for num in x]
print(y)

[(5, 25), (7, 49), (8, 64), (9, 81), (13, 169), (17, 289)]

6.Given list of tuples, remove all the tuples with length K.
Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
Explanation : (4, 5) of len = 2 is removed.

In [ ]:
test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
K = 2
print("x : " + str(test_list))
res = [ele for ele in test_list if len(ele) != K]
print("output : " + str(res))

x : [(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
output : [(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

7.Program to remove a key from a dictionary.

In [ ]:
x = {'sai':18,'praneeth':19,'sheshu':17,'vivek':18}
print(x)
if 'sai' in x: 
    del x['sai']
print(x)

{'sai': 18, 'praneeth': 19, 'sheshu': 17, 'vivek': 18}
{'praneeth': 19, 'sheshu': 17, 'vivek': 18}

8.Program to get the maximum and minimum value in a dictionary

In [ ]:
dictionary = {"sai": 18, "praneeth": 19, "sheshu": 17,"vivek": 20}
min_key = min(dictionary, key=dictionary.get)
max_key = max(dictionary, key=dictionary.get)

print(dictionary.get(min_key))
print(dictionary.get(max_key))

17
20

9.Program to generate and print a dictionary that contains a number (between 1
and n) in the form (x, x*x).
Sample Input: (n=5) :
Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
x=int(input("Input a number "))
y= dict()

for x in range(1,x+1):
    y[x]=x*x

print(y)

Input a number 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}