<a href="https://colab.research.google.com/github/saikirsh/python-new/blob/module-3/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

mydataset = {
  'menu': ["idly", "Dosa", "puri"],
  'costs': [20, 40, 50]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

   menu  costs
0  idly     20
1  Dosa     40
2  puri     50

Checking Panadas Version

In [ ]:
import pandas as pd

print(pd.__version__)

1.3.5

Pandas series

In [ ]:
import pandas as pd

a = [1, 5, 2]

x = pd.Series(a)

print(x)

0    1
1    5
2    2
dtype: int64

In [ ]:
#Labels
import pandas as pd

a = [1, 5, 2]

x = pd.Series(a)

print(x[0])

1

In [ ]:
import pandas as pd

a = [1, 1, 2]

x = pd.Series(a)

print(x[1])

1

In [ ]:
#Create Labels
import pandas as pd

a = [1, 3, 2]

x = pd.Series(a, index = ["x", "y", "z"])

print(x)

x    1
y    3
z    2
dtype: int64

In [ ]:
import pandas as pd

a = [1, 5, 2]

x = pd.Series(a, index = ["x", "y", "z"])

print(x["z"])

2

In [ ]:
#Key/Value Objects as Series
import pandas as pd

Expendicture = {"day1": 300, "day2": 350, "day3": 330}

x = pd.Series(Expendicture)

print(x)

day1    300
day2    350
day3    330
dtype: int64

In [ ]:
import pandas as pd

Expendicture = {"day1": 300, "day2": 350, "day3": 330}

x = pd.Series(Expendicture, index = ["day1","day2"])

print(x)

day1    300
day2    350
dtype: int64

In [ ]:
# Data Frames
import pandas as pd

data = {
  "calories": [550, 430, 490],
  "duration": [50, 40, 45]
}

x= pd.DataFrame(data)

print(x)

   calories  duration
0       550        50
1       430        40
2       490        45

Pandas DataFrames

In [ ]:
import pandas as pd

data = {
  "calories": [550, 430, 490],
  "duration": [50, 40, 45]
}

x= pd.DataFrame(data)

print(x)

   calories  duration
0       550        50
1       430        40
2       490        45

In [ ]:
#Locate Row
import pandas as pd

data = {
  "calories": [550, 430, 490],
  "duration": [50, 40, 45]
}

x= pd.DataFrame(data)

print(x.loc[1])

calories    430
duration     40
Name: 1, dtype: int64

In [ ]:
import pandas as pd

data = {
  "calories": [550, 430, 490],
  "duration": [50, 40, 45]
}

x= pd.DataFrame(data)

print(x.loc[[0,1]])

   calories  duration
0       550        50
1       430        40

Named Indexes

In [ ]:
import pandas as pd

data = {
  "calories": [550, 430, 490],
  "duration": [50, 40, 45]
}

x= pd.DataFrame(data,index = ["day1","day2","day3"])

print(x)

      calories  duration
day1       550        50
day2       430        40
day3       490        45

In [ ]:
#Locate Named Indexes
import pandas as pd

data = {
  "calories": [550, 430, 490],
  "duration": [50, 40, 45]
}

x= pd.DataFrame(data,index = ["day1","day2","day3"])

print(x.loc["day3"])

calories    490
duration     45
Name: day3, dtype: int64