<a href="https://colab.research.google.com/github/saikirsh/python-new/blob/module-1/PYTHON_EXERCISE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Average of 3 numbers

In [ ]:
a = 10
b = 15
c = 20

avg = (a+b+c)/3

print (avg)

15.0

### Multiplication of 3 numbers

In [ ]:
a = 5
b = 4
c = 10

prod = a * b * c

print (prod)

200

###  Addition of 2 numbers (Dynamic)

In [ ]:
a = int(input ("Enter the first number: "))
b = int(input ("Enter the second number: "))

c = a + b

print (c)

Enter the first number: 5
Enter the second number: 10
15

### Average of 3 numbers (Dynamic)

In [ ]:
a = int(input ("Enter the first number: "))
b = int(input ("Enter the second number: "))
c = int(input ("Enter the third number: "))

avg = (a + b + c)/3

print (avg)

Enter the first number: 5
Enter the second number: 10
Enter the third number: 15
10.0

## Type conversions
### Convert int to float

In [ ]:
a = 10
b = float(a)
print (type(a))
print (type(b))

<class 'int'>
<class 'float'>

### Convert float to int

In [ ]:
a = 10.0
b = int (a)
print (type(a))
print (type(b))

<class 'float'>
<class 'int'>

### Convert int to string

In [ ]:
a = 10
b = str (a)
print (type (a))
print (type (b))
print (b)

<class 'int'>
<class 'str'>
10

### Convert string to int

In [ ]:
a = "10"
b = int(a)
print (type (a))
print (type (b))
print (b)

<class 'str'>
<class 'int'>
10

# Boolean to int

In [ ]:
a = 10
b = a==1
c = int(b)
print(b)
print (type(b))
print(c)
print (type(c))

False
<class 'bool'>
0
<class 'int'>

### Boolean to float

In [ ]:
a = 10
b = a==1
c = float(b)
print(b)
print (type(b))
print(c)
print (type(c))

False
<class 'bool'>
0.0
<class 'float'>

### Bool to str

In [ ]:
a = 10
b = a==1
c = str(b)
print(b)
print (type(b))
print(c)
print (type(c))

False
<class 'bool'>
False
<class 'str'>

### Complex data type

In [ ]:
a = 5 + 2j
print (type(a))

<class 'complex'>

In [ ]:
a = 10 + 2j
c = str(a)
print(a)
print (type(a))
print(c)
print (type(c))

(10+2j)
<class 'complex'>
(10+2j)
<class 'str'>

In [ ]:
a = 10 + 2j
c = bool(a)
print(a)
print (type(a))
print(c)
print (type(c))

(10+2j)
<class 'complex'>
True
<class 'bool'>