<a href="https://colab.research.google.com/github/saikirsh/python-new/blob/module-2/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SETS

In [ ]:
#Python Sets
x={"sai","krishna","praneeth"}
print(x)

{'sai', 'krishna', 'praneeth'}

In [ ]:
# SETS Duplicates Not Allowed
x={"sai","krishna","praneeth","sai"}
print(x)

{'sai', 'krishna', 'praneeth'}

In [ ]:
#Get the Length of a Set
x={"sai","krishna","praneeth"}
print(len(x))

3

In [ ]:
#Set Items - Data Types
x={"sai","krishna","praneeth"}
y = {1, 5, 7, 9, 3}
z = {True, False, False}
print(x)
print(y)
print(z)

{'sai', 'krishna', 'praneeth'}
{1, 3, 5, 7, 9}
{False, True}

In [ ]:
# A set with strings, integers and boolean values:
x = {"sai", 19, False, 18, "not"}

print(x)

{False, 'sai', 18, 19, 'not'}

In [ ]:
# types in sets 
x={"sai","krishna","praneeth"}
print(type(x))

<class 'set'>

In [ ]:
#The set() Constructor
x=set(("sai","krishna","praneeth"))
print(x)

{'sai', 'krishna', 'praneeth'}

In [ ]:
#Access Items
x={"sai","krishna","praneeth"}

for y in x:
  print(y)

krishna
sai
praneeth

In [ ]:
x={"sai","krishna","praneeth"}

print("sai" in x)

True

In [ ]:
x={"sai","krishna","praneeth"}

print("vivek" in x)

False

In [ ]:
#Add Items
x={"sai","krishna","praneeth"}

x.add("sheshu")

print(x)

{'krishna', 'sheshu', 'sai', 'praneeth'}

In [ ]:
#Add Sets
x={"sai","krishna","praneeth"}
y={"sheshu","vivek","ashok"}
x.update(y)

print(x)

{'krishna', 'sheshu', 'sai', 'praneeth', 'ashok', 'vivek'}

In [ ]:
#Add Any Iterable
x={"sai","krishna","praneeth"}
y= ["sheshu", "vivek"]

x.update(y)

print(x)

{'praneeth', 'vivek', 'krishna', 'sheshu', 'sai'}

In [ ]:
# Remove Item
x={"sai","krishna","praneeth"}

x.remove("praneeth")

print(x)

{'krishna', 'sai'}

In [ ]:
#If the item to remove does not exist, discard() will NOT raise an error.
x={"sai","krishna","praneeth"}

x.discard("vivek")

print(x)

{'krishna', 'sai', 'praneeth'}

Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

In [ ]:
x={"sai","krishna","praneeth"}

x.pop()

print(x)

{'sai', 'praneeth'}

In [ ]:
x={"sai","krishna","praneeth"}

x.clear()

print(x)

set()

In [ ]:
# loop items
x = {"apple", "banana", "cherry"}

for y in x:
  print(y)

banana
apple
cherry

In [ ]:
#Join Two Sets
x = {"apple", "banana", "cherry"}
y={"a","b","c"}

z=x.union(y)
print(z)

{'b', 'apple', 'c', 'a', 'banana', 'cherry'}

In [ ]:
x = {"apple", "banana", "cherry"}
y={"a","b","c"}

x.update(y)
print(x)

{'b', 'apple', 'c', 'a', 'banana', 'cherry'}

In [ ]:
#Keep ONLY the Duplicates
x={"sai","vivek","praneeth"}
y={"sheshu","vivek","sai"}

x.intersection_update(y)
print(x)

{'sai', 'vivek'}

In [ ]:
x={"sai","vivek","praneeth"}
y={"sheshu","vivek","sai"}

z=x.intersection(y)
print(z)

{'sai', 'vivek'}

In [ ]:
#Keep All, But NOT the Duplicates
x={"sai","krishna","praneeth"}
y={"sheshu","vivek","sai"}

x.symmetric_difference_update(y)
print(x)

{'praneeth', 'vivek', 'krishna', 'sheshu'}

In [ ]:
x={"sai","krishna","praneeth"}
y={"sheshu","vivek","sai"}

z=x.symmetric_difference(y)
print(z)

{'praneeth', 'vivek', 'sheshu', 'krishna'}